{% extends 'base.html' %}
{% load static %}
{% block body %}
<style>
body{
        background-color: mediumaquamarine;
}
.hr-horizontal-gradient {
	margin: 20px 0;
	padding: 0;
	height: 6px;
	border: none;
	background: linear-gradient(45deg, #333, #ddd);
}
</style>
<body>
<div class="container my-5">
<h2 class="text-center border-bottom">О нас</h2>
<hr class="hr-horizontal-gradient">
Что такое Lorem Ipsum?
Lorem Ipsum - это просто фиктивный текст, используемый в полиграфической и наборной промышленности. Lorem Ipsum был стандартным фиктивным текстом в отрасли с 1500-х годов, когда неизвестный типограф взял образец шрифта и переделал его, чтобы создать книгу с образцами шрифтов. Он пережил не только пять столетий, но и переход на электронный набор текста, оставаясь практически неизменным. Он был популяризирован в 1960-х годах с выпуском листов Letraset, содержащих отрывки из Lorem Ipsum, и совсем недавно с появлением настольного издательского программного обеспечения, такого как Aldus PageMaker, включающего версии Lorem Ipsum.
Почему мы его используем?
Давно установлено, что читатель будет отвлекаться на читабельное содержимое страницы при взгляде на ее макет. Смысл использования Lorem Ipsum в том, что он имеет более или менее нормальное распределение букв, в отличие от использования "Содержание здесь, содержание здесь", что делает его похожим на читаемый английский. Многие настольные издательские пакеты и редакторы веб-страниц в настоящее время используют Lorem Ipsum в качестве типового текста по умолчанию, и поиск по запросу "lorem ipsum" откроет множество веб-сайтов, которые все еще находятся в зачаточном состоянии. За прошедшие годы появились различные версии, иногда случайно, иногда намеренно (с добавлением юмора и тому подобного).
Откуда это взялось?
Вопреки распространенному мнению, Lorem Ipsum - это не просто случайный текст. Он восходит к произведению классической латинской литературы, датируемому 45 годом до н.э., которому более 2000 лет. Ричард Макклинток, профессор латыни в колледже Хэмпден-Сидней в Вирджинии, нашел одно из самых малоизвестных латинских слов, consectetur, в отрывке из Lorem Ipsum и, просмотрев цитаты этого слова в классической литературе, обнаружил несомненный источник. Основные сведения взяты из разделов 1.10.32 и 1.10.33 книги Цицерона "О конце добра и зла" ("The Extremes of Good and Evil"), написанной в 45 году до нашей эры. Эта книга представляет собой трактат по теории этики, очень популярный в эпоху Возрождения. Первая строка "Lorem Ipsum", "Lorem ipsum dolor sit amet..", взята из раздела 1.10.32.
Ниже для тех, кто интересуется, приводится стандартный фрагмент Lorem Ipsum, используемый с 1500-х годов. Разделы 1.10.32 и 1.10.33 из "de Finibus Bonorum et Malorum" Цицерона также воспроизводятся в их точном оригинальном виде, сопровождаясь английскими версиями из перевода 1914 года Х. Рэкхэма.
Где я могу их достать?
Еще в 340 г. до н. э. Аристотель в своем трактате «О небе» сформулировал два веских довода в пользу того, что Земля
имеет форму шара, а не является плоской, как тарелка. Во-первых, он понял, что лунные затмения вызваны прохождением
Земли между Солнцем и Луной. Тень Земли на Луне – всегда круглая, а это возможно, только если Земля имеет сферическую
форму. Если бы Земля представляла собой плоский диск, тень была бы вытянутой и имела бы форму эллипса, за исключением
тех случаев, когда в момент затмения Солнце находится точно над центром диска.
Во-вторых, из опыта своих путешествий греки знали, что в южных районах Полярная звезда находится ниже над
горизонтом, чем в более северных. Опираясь на разницу видимых положений Полярной звезды в Египте и Греции,
Аристотель даже приводит оценку длины окружности Земли – 400 тыс. стадиев. Чему равен один стадий – точно не известно
(возможно, около 180 метров). Тогда оценка Аристотеля почти в два раза превосходит значение, принятое в настоящее время.
У древних греков был еще и третий аргумент в пользу того, что Земля должна иметь форму шара: иначе почему на
горизонте сначала появляются паруса приближающегося корабля и только потом становится виден его корпус? Аристотель
думал, что Земля неподвижна, а Солнце, Луна, планеты и звезды движутся по круговым орбитам вокруг нее. Он так считал,
поскольку в силу мистических соображений был убежден, что Земля – центр Вселенной, а круговое движение – самое
совершенное.В I веке н. э. эта идея была развита Птолемеем в целостную космологическую модель. Земля располагается в центре, ее
окружают восемь сфер, несущих на себе Луну, Солнце, звезды и пять планет, известных в то время: Меркурий, Венеру, Марс,
Юпитер и Сатурн. Планеты движутся по окружностям меньших радиусов, которые связаны с соответствующими сферами.
Это требовалось, чтобы объяснить их достаточно сложные наблюдаемые траектории движения по небу. На внешней сфере
расположены так называемые неподвижные звезды, которые сохраняют свои положения относительно друг друга, но все
вместе совершают круговое движение по небу. Что находится за пределами внешней сферы – оставалось неясным, но эта
часть Вселенной, несомненно, была недоступна для наблюдений.
Модель Птолемея давала возможность достаточно точно предсказывать положения небесных тел на небе. Но для этого
Птолемею пришлось допустить, что иногда Луна подходит вдвое ближе к Земле, чем в другие моменты своего движения по
предсказанной траектории. Это означало, что периодически Луна должна казаться вдвое больше обычного. Птолемей знал об
этом недостатке, но, несмотря на это, его модель была принята большинством, хотя и не всеми. Она получила одобрение
христианской церкви, как картина мира, согласующаяся со Священным писанием. Ведь эта модель обладала огромным
преимуществом, поскольку оставляла за сферой неподвижных звезд достаточно места для рая и ада.
Что такое Lorem Ipsum?
Lorem Ipsum - это просто фиктивный текст, используемый в полиграфической и наборной промышленности. Lorem Ipsum был стандартным фиктивным текстом в отрасли с 1500-х годов, когда неизвестный типограф взял образец шрифта и переделал его, чтобы создать книгу с образцами шрифтов. Он пережил не только пять столетий, но и переход на электронный набор текста, оставаясь практически неизменным. Он был популяризирован в 1960-х годах с выпуском листов Letraset, содержащих отрывки из Lorem Ipsum, и совсем недавно с появлением настольного издательского программного обеспечения, такого как Aldus PageMaker, включающего версии Lorem Ipsum.
Почему мы его используем?
Давно установлено, что читатель будет отвлекаться на читабельное содержимое страницы при взгляде на ее макет. Смысл использования Lorem Ipsum в том, что он имеет более или менее нормальное распределение букв, в отличие от использования "Содержание здесь, содержание здесь", что делает его похожим на читаемый английский. Многие настольные издательские пакеты и редакторы веб-страниц в настоящее время используют Lorem Ipsum в качестве типового текста по умолчанию, и поиск по запросу "lorem ipsum" откроет множество веб-сайтов, которые все еще находятся в зачаточном состоянии. За прошедшие годы появились различные версии, иногда случайно, иногда намеренно (с добавлением юмора и тому подобного).
Откуда это взялось?
Вопреки распространенному мнению, Lorem Ipsum - это не просто случайный текст. Он восходит к произведению классической латинской литературы, датируемому 45 годом до н.э., которому более 2000 лет. Ричард Макклинток, профессор латыни в колледже Хэмпден-Сидней в Вирджинии, нашел одно из самых малоизвестных латинских слов, consectetur, в отрывке из Lorem Ipsum и, просмотрев цитаты этого слова в классической литературе, обнаружил несомненный источник. Основные сведения взяты из разделов 1.10.32 и 1.10.33 книги Цицерона "О конце добра и зла" ("The Extremes of Good and Evil"), написанной в 45 году до нашей эры. Эта книга представляет собой трактат по теории этики, очень популярный в эпоху Возрождения. Первая строка "Lorem Ipsum", "Lorem ipsum dolor sit amet..", взята из раздела 1.10.32.
Ниже для тех, кто интересуется, приводится стандартный фрагмент Lorem Ipsum, используемый с 1500-х годов. Разделы 1.10.32 и 1.10.33 из "de Finibus Bonorum et Malorum" Цицерона также воспроизводятся в их точном оригинальном виде, сопровождаясь английскими версиями из перевода 1914 года Х. Рэкхэма.
Где я могу их достать?
Еще в 340 г. до н. э. Аристотель в своем трактате «О небе» сформулировал два веских довода в пользу того, что Земля
имеет форму шара, а не является плоской, как тарелка. Во-первых, он понял, что лунные затмения вызваны прохождением
Земли между Солнцем и Луной. Тень Земли на Луне – всегда круглая, а это возможно, только если Земля имеет сферическую
форму. Если бы Земля представляла собой плоский диск, тень была бы вытянутой и имела бы форму эллипса, за исключением
тех случаев, когда в момент затмения Солнце находится точно над центром диска.
Во-вторых, из опыта своих путешествий греки знали, что в южных районах Полярная звезда находится ниже над
горизонтом, чем в более северных. Опираясь на разницу видимых положений Полярной звезды в Египте и Греции,
Аристотель даже приводит оценку длины окружности Земли – 400 тыс. стадиев. Чему равен один стадий – точно не известно
(возможно, около 180 метров). Тогда оценка Аристотеля почти в два раза превосходит значение, принятое в настоящее время.
У древних греков был еще и третий аргумент в пользу того, что Земля должна иметь форму шара: иначе почему на
горизонте сначала появляются паруса приближающегося корабля и только потом становится виден его корпус? Аристотель
думал, что Земля неподвижна, а Солнце, Луна, планеты и звезды движутся по круговым орбитам вокруг нее. Он так считал,
поскольку в силу мистических соображений был убежден, что Земля – центр Вселенной, а круговое движение – самое
совершенное.В I веке н. э. эта идея была развита Птолемеем в целостную космологическую модель. Земля располагается в центре, ее
окружают восемь сфер, несущих на себе Луну, Солнце, звезды и пять планет, известных в то время: Меркурий, Венеру, Марс,
Юпитер и Сатурн. Планеты движутся по окружностям меньших радиусов, которые связаны с соответствующими сферами.
Это требовалось, чтобы объяснить их достаточно сложные наблюдаемые траектории движения по небу. На внешней сфере
расположены так называемые неподвижные звезды, которые сохраняют свои положения относительно друг друга, но все
вместе совершают круговое движение по небу. Что находится за пределами внешней сферы – оставалось неясным, но эта
часть Вселенной, несомненно, была недоступна для наблюдений.
Модель Птолемея давала возможность достаточно точно предсказывать положения небесных тел на небе. Но для этого
Птолемею пришлось допустить, что иногда Луна подходит вдвое ближе к Земле, чем в другие моменты своего движения по
предсказанной траектории. Это означало, что периодически Луна должна казаться вдвое больше обычного. Птолемей знал об
этом недостатке, но, несмотря на это, его модель была принята большинством, хотя и не всеми. Она получила одобрение
христианской церкви, как картина мира, согласующаяся со Священным писанием. Ведь эта модель обладала огромным
преимуществом, поскольку оставляла за сферой неподвижных звезд достаточно места для рая и ада.
</hr>
</div>
</body>
{% endblock %}