{% extends 'base.html' %}
{% load static %}
{% block body %}
<body>
    <style>
        body{
            background-color: mediumaquamarine;
        }
        input[type="text"]{
            background-color:snow;
            margin-left: 240px;
        }
        label{
            margin-left: 240px;
        }
        h1{
            align-items: center;
            text-align: center;
        }
        .form[method="post"]{
            display: block;
            margin-left: 500px;
            
            width: 400px;
        }
        button[type="submit"]{
        background-color:chartreuse;
        display: block;
        margin-left: 500px;
        padding: 4px;
        width: 140px;
        border: 2px solid forestgreen;
        }

    </style>
    <h1>добавить расписание</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">сохранить</button>
    </form>
</body>
{% endblock %}