{% extends 'base.html' %}
{% load static %}
{% block body %}
<body>
    <h1>список посещаемости</h1>
    <ul>
        <thead>
            <tr>
                <th>отгул</th>
                <th>Прогул</th>
                <th>незачот</th>
                <th>проблемы</th>
            </tr>
        </thead>
        {% for attendance in attendances %}
        <li>ведомость</li> 
        <tbody> 
        <tr>
            <td>{{ attendance.student }}</td>
            <td>{{ attendance.course }}</td>
            <td>{{ attendance.present }}</td>
            <td>{{ attendance.absent }}</td>
        </tr>
        {% empty %}
        </tbody>
            {% endfor %}
    </ul>
</body>